
<a href="/shop">back to shop</a>

<article>

    <h3><%= data.title%></h3>
    <img src="/img/<%= data.url_img %>"/>
    <p>dans la catégorie : <strong><%= data.category%></strong></p>
    <p> <%= data.description %></p>
    <p><span><%= data.price %>€</span> <span>sold by <%= data.seller %></span></p>
    
</article>